@import "_variables.scss";
@import "_mixins.scss";

// Whole page customs

body {
	background-color: #f7f7f7;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}*/

section#waves {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), transparent url(../img/ocean.jpg) no-repeat center;
	height: 600px;
	width: 100%;
}

section#main {
	margin-top: 50px;
}

section#signup {
	margin-top: 50px;
	margin-bottom: 50px;

	div.container {
		padding: 50px 50px;
	}
}

section#profile {
	margin-top: 50px;
}

#tagbox {
	border-radius: 0px;
}

.img-centered {
	display: block;
	margin: auto;
}

ul {
	//display: block;
	list-style-type: none;
}

footer {
	width: 100%;
	margin-top: 50px;
	padding: 30px;
	background-color: $secondary-color;
	border-top: 5px solid $primary-color;
	box-shadow: -1px -1px 15px #888;
}

// FRONT PAGE CSS

.content {
	//margin: 50px;
	padding-top: 125px;
}

.heading {
	padding: 25px;
	div {
		button {
			margin-top: 50px;
		}
	}

	h1 {
		font-size: 7rem;
		color: white;
		flex: 2;
		line-height: 1;

	}
}

// Flexbox styling

.flex-row {
	display: flex;
	flex-direction: row;

	//input.form-control {
	//	width: initial;
	//}
}

.flex-col {
	display: flex;
	flex-direction: column;
}

// Puts flex items in columns on smaller devices
.flex-adjust {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-sp-bt {
	justify-content: space-between;
}

.flex-sp-ar {
	justify-content: space-around;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

// Media Query for bottom banner flexbox
@media(min-width:768px) {
	.flex-adjust {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.signin {
	padding-top: 25px;
}

// Google Map API

#googleMap {
	height: 500px;
	background: transparent url(../img/ajax-loader.gif) no-repeat center center;
	//border-radius: 20px;
}

h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 4rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	padding: 15px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 3rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
}

h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 2rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16.4px;
}

p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0px;

}


// Navbar customs

.navbar-default {
	box-shadow: 1px 1px 15px #888;
	padding: 10px;
	background-color: $secondary-color;
	//border: 25px $primary-color;
	//border-color: $primary-color;
	border-bottom: 5px solid $primary-color;
	border-radius: 0px;
	.navbar-brand {
		font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
		font-size: 3em;
		color: lighten($primary-color, 30%);
        &:hover,
        &:focus,
        //&:active,
        &.active {
        	//color: darken($primary-color, 12%);
        }
	}
	.navbar-collapse {
		border-color: fade(white, 2%);
	}
	.navbar-toggle {
		background-color: $primary-color;
		border-color: $primary-color;
		.icon-bar {
			background-color: white;
		}
		&:hover,
		&:focus {
			background-color: $secondary-color;
		}
	}
    .nav {
    	li {

    		ul {
    			
    			&:hover {
    			    background-color: white;
    			}
    		}

    		a {
    			font-weight: 500;
    			font-size: 2rem;
    			letter-spacing: 1px;
    			color: $primary-color;
    			&:hover,
    			&:focus {
    				background-color: darken($secondary-color, 12%);
    				color: $primary-color;
    				outline: none;
    			}

    			.dropdown-toggle {
    				background-color: $primary-color;
    			}
    		}
    	}
    }
	.navbar-nav>.active>a {
		border-radius: 0;
		color: $primary-color;
		background-color: $secondary-color;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: darken($primary-color, 10%);
		background-color: $secondary-color;
	}
}

// Front Page Navbar
#frontbar {
	background-color: transparent;
	border: none;
	box-shadow: none;
	.navbar-brand {
		color: white;
	}
	.nav {
    	li {

    		a {
    			
    			color: white;
    			&:hover,
    			&:focus {
    				background-color: transparent;
    				color: $primary-color;
    				outline: none;
    			}

    			.dropdown-toggle {
    				background-color: $primary-color;
    			}
    		}
    	}
    }
}

// Custom Buttons

.btn-norm {
	@include button_var(white, $primary-color, $primary-color);
	//border-radius: 0;
}

.btn-larger {
	@include button_var(white, $primary-color, $primary-color);
	padding: 10px 25px;
	font-size: 16px;
}

// Radio Buttons
input[type=radio] {
	transform: scale(1.5);
	margin-right: 15px;
}

// Class for rating star buttons 
.rating {
	display: flex;
	justify-content: center;
}

// TypeAhead
.active {
  font-size: 2rem;
  //border-radius: 5px;
  background-color: $primary-color;
  color: $secondary-color;
}


.media {
	padding: 20px;
}

// Selected search tags

ul {
	&.selected-items {

		padding: 0px;

		li {

			button {
				padding: 0;
			    cursor: pointer;
			    background: transparent;
			    border: 0;
			    -webkit-appearance: none;
			}

			padding: 5px;
			display: inline;
			margin: 5px;
			border-radius: 5px;
			background-color: $primary-color;
			color: $secondary-color;
			box-sizing: border-box;
		}
	}
}

.closed {
	&:hover,
	&:focus {
  		color: #000000;
  		text-decoration: none;
  		cursor: pointer;
  		opacity: 0.5;
  		filter: alpha(opacity=50);
	}

    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

// Ride the Wave

section#create {

	margin-top: 75px;
	padding-top: 50px;
	margin-bottom: 75px;
	padding-bottom: 50px;
	background-color: lighten($primary-color, 15%);
	color: white;
}

.modaldiv {

	padding-bottom: 20px;
	background-color:lighten($primary-color, 20%);
	//border: 1px solid darken($primary-color, 30%);
	
	&:hover {
		box-shadow: 0px 1px 4px black;
		-webkit-transition: all ease 0.3s;
	}
	
}

div#myModal {
	color: black;
}

.modal-found {
	background-color:lighten($primary-color, 20%);
	padding-bottom: 20px;
}

// Class for icon in the top left corner of resulted party search
.top-icon {
	margin: 25px;
	flex: 1;
}

#party-title {
	flex: 5;
}

// Search results box class
.search-half {
	flex: 1;
	flex-direction: column;
}

// Error message for the code box
#codeerror {
	color: red;
	display: none;
}

// Class for blurred background, unused at this point
.blurred {
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

// Class for hidden/invisible objects while preserving their space
.invisible {
	visibility: hidden;
}

// Class for loading objects
.loading {
	background: transparent url(../img/ajax-loader.gif) no-repeat center center;
}

// Custom modal class
.modal-custom {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    //border: 1px solid #888;
    width: 525px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
	    color: darken($secondary-color, 30%);
	    text-decoration: none;
	    cursor: pointer;
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: $primary-color;
    color: white;
}

.modal-body {
	//padding: 2px 16px;
}

.modal-footer {
    padding: 10px 16px;
    //background-color: lighten($primary-color, 20%);
    color: white;
}

// Create Party Form


.table {
	tbody {
		tr {
			td, th {
				border: none;
				vertical-align: middle;
			}
		}
	}
}


// Preserves the old border-top provied by bootstrap
.oldstyle {
	border-top: 1px solid #ddd;
}

// Profile Page CSS
.profile-col {
	//width: 262px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.prof-header {
	//background-color: lighten($primary-color, 15%);
	color: lighten($primary-color, 15%);
}

.prof-name {
	
}

.prof-pic {
	// seems to work for images as well
	text-align: center;
	background-color: #f7f7f7;
	padding: 25px 0px;
	img {
		height: 256px;
		width: 256px;
	}
}

.prof-carousel {
	padding: 10px 0px;
	margin-bottom: 50px;
	border: #ddd solid 3px;
	border-radius: 8px;
}

// Div that holds "Recently Attended" header
.prof-recents {
	h3 {
		color: lighten($primary-color, 15%);
	}

	margin-bottom: 10px;
}

.wavelisting {
	
	img {
		margin: auto;
	}

	h4 {
		margin-top: 0px;
	}
}

// Div that holds the list of owner waves
#ownerwaves {
	border: #ddd solid 3px;
	height: 700px;
	overflow-y: scroll;
}

.prof-ownerwave {
	// Add a bottom border after each repeated div
	border-bottom: #ddd solid 1px;
	//margin-right: auto;
	// Set display to none so animation works
	display:none;

	transition-duration: 500ms;
	
	&:hover {
		background-color: #ddd;
	}
}

.prof-sidewave {
	flex-basis: 175px;
}

.def-height-owned {
	height: 182.66px;
}

.def-carousel {
	height: 150px;
}