body {
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-attachment: fixed; }

section#waves {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), transparent url(../img/ocean.jpg) no-repeat center;
  height: 600px;
  width: 100%; }

section#main {
  margin-top: 50px; }

section#signup {
  margin-top: 50px;
  margin-bottom: 50px; }
  section#signup h1 {
    text-align: center; }
  section#signup div.container {
    padding: 50px 50px; }

#tagbox {
  border-radius: 0px; }

.img-centered {
  display: block;
  margin: auto; }

ul {
  list-style-type: none; }

footer {
  margin-top: 50px;
  padding: 30px;
  background-color: white;
  border-top: 5px solid #0080ff;
  box-shadow: -1px -1px 15px #888; }

.content {
  padding-top: 125px; }

.heading {
  padding: 25px; }
  .heading div button {
    margin-top: 50px; }
  .heading h1 {
    font-size: 7rem;
    color: white;
    flex: 2;
    line-height: 1; }

.btn-flex {
  flex: 1; }

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; }

.wave-pic {
  flex: 1; }

.body-form {
  flex: 1; }

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    flex-wrap: nowrap; } }
.signin {
  padding-top: 25px; }

#googleMap {
  height: 500px;
  background: transparent url(../img/ajax-loader.gif) no-repeat center center; }

h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  padding: 15px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 20px; }

h3 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 16.4px; }

.navbar-default {
  box-shadow: 1px 1px 15px #888;
  padding: 10px;
  background-color: white;
  border-bottom: 5px solid #0080ff;
  border-radius: 0px; }
  .navbar-default .navbar-brand {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 3em;
    color: #99ccff; }
  .navbar-default .navbar-collapse {
    border-color: fade(white, 2%); }
  .navbar-default .navbar-toggle {
    background-color: #0080ff;
    border-color: #0080ff; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: white; }
  .navbar-default .nav li ul:hover {
    background-color: white; }
  .navbar-default .nav li a {
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #0080ff; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
      background-color: #e0e0e0;
      color: #0080ff;
      outline: none; }
    .navbar-default .nav li a .dropdown-toggle {
      background-color: #0080ff; }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #0080ff;
    background-color: white; }
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0066cc;
    background-color: white; }

#frontbar {
  background-color: transparent;
  border: none;
  box-shadow: none; }
  #frontbar .navbar-brand {
    color: white; }
  #frontbar .nav li a {
    color: white; }
    #frontbar .nav li a:hover, #frontbar .nav li a:focus {
      background-color: transparent;
      color: #0080ff;
      outline: none; }
    #frontbar .nav li a .dropdown-toggle {
      background-color: #0080ff; }

.btn-norm {
  color: white;
  background-color: #0080ff;
  border-color: #0080ff;
  border-radius: 0px; }
  .btn-norm:hover, .btn-norm:focus, .btn-norm:active, .btn-norm.active,
  .btn-norm .open .dropdown-toggle {
    color: white;
    background-color: #0066cc;
    border-color: #0061c2; }
  .btn-norm:active, .btn-norm.active,
  .btn-norm .open .dropdown-toggle {
    background-image: none; }
  .btn-norm.disabled, .btn-norm.disabled:hover, .btn-norm.disabled:focus, .btn-norm.disabled:active, .btn-norm.disabled.active, .btn-norm[disabled], .btn-norm[disabled]:hover, .btn-norm[disabled]:focus, .btn-norm[disabled]:active, .btn-norm[disabled].active,
  .btn-norm fieldset[disabled],
  .btn-norm fieldset[disabled]:hover,
  .btn-norm fieldset[disabled]:focus,
  .btn-norm fieldset[disabled]:active,
  .btn-norm fieldset[disabled].active {
    -webkit-transition: all ease 0.3s;
    background-color: #0080ff;
    border-color: #0080ff; }
  .btn-norm .badge {
    color: #0080ff;
    background-color: white; }

.btn-larger {
  color: white;
  background-color: #0080ff;
  border-color: #0080ff;
  border-radius: 0px;
  padding: 10px 25px;
  font-size: 16px; }
  .btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active,
  .btn-larger .open .dropdown-toggle {
    color: white;
    background-color: #0066cc;
    border-color: #0061c2; }
  .btn-larger:active, .btn-larger.active,
  .btn-larger .open .dropdown-toggle {
    background-image: none; }
  .btn-larger.disabled, .btn-larger.disabled:hover, .btn-larger.disabled:focus, .btn-larger.disabled:active, .btn-larger.disabled.active, .btn-larger[disabled], .btn-larger[disabled]:hover, .btn-larger[disabled]:focus, .btn-larger[disabled]:active, .btn-larger[disabled].active,
  .btn-larger fieldset[disabled],
  .btn-larger fieldset[disabled]:hover,
  .btn-larger fieldset[disabled]:focus,
  .btn-larger fieldset[disabled]:active,
  .btn-larger fieldset[disabled].active {
    -webkit-transition: all ease 0.3s;
    background-color: #0080ff;
    border-color: #0080ff; }
  .btn-larger .badge {
    color: #0080ff;
    background-color: white; }

.rating {
  display: flex;
  justify-content: center; }

.active {
  font-size: 2rem;
  background-color: #0080ff;
  color: white; }

.media {
  padding: 20px; }

ul.selected-items {
  padding: 0px; }
  ul.selected-items li {
    padding: 5px;
    display: inline;
    margin: 5px;
    border-radius: 5px;
    background-color: #0080ff;
    color: white;
    box-sizing: border-box; }
    ul.selected-items li button {
      padding: 0;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none; }

.closed {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20); }
  .closed:hover, .closed:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50); }

section#create {
  margin-top: 75px;
  padding-top: 50px;
  margin-bottom: 75px;
  padding-bottom: 50px;
  background-color: #4da6ff;
  color: white; }
  section#create div h1 {
    text-align: center; }

.modaldiv {
  padding-bottom: 20px;
  background-color: #66b3ff; }
  .modaldiv h2, .modaldiv h3 {
    text-align: center; }
  .modaldiv:hover {
    box-shadow: 0px 1px 4px black;
    -webkit-transition: all ease 0.3s; }

.modal-found {
  background-color: #66b3ff;
  padding-bottom: 20px; }

.top-icon {
  margin: 25px;
  flex: 1; }

#party-title {
  flex: 5; }

.search-half {
  flex: 1;
  flex-direction: column; }

#codeerror {
  color: red;
  display: none; }

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.invisible {
  visibility: hidden; }

.loading {
  background: transparent url(../img/ajax-loader.gif) no-repeat center center; }

/*# sourceMappingURL=waves.css.map */
