<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    	<meta name="description" content="Wave Calendar" />
    	<meta name="author" content="Jesse Bartola" />
    	<!-- <link rel="shortcut icon" href="/img/favicon.ico" /> -->
    	<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    	<title>Wave Calendar</title>

    	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"/>
    	<!-- Normalize CSS -->
    	<link rel="stylesheet" href="../css/normalize.css">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="../css/bootstrap.min.css">
    	<!-- FontAwesome CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    	<!-- Animation CSS -->
    	<link rel="stylesheet" href="../css/animate.min.css">
    	<!-- SweetAlert CSS -->
    	<link rel="stylesheet" href="../css/sweetalert.css">
    	<!-- DatePicker CSS -->
    	<link rel="stylesheet" href="../css/bootstrap-datepicker.css">
    	<!-- TimePicker CSS -->
    	<link rel="stylesheet" href="../css/jquery.timepicker.css">
    	<!-- Custom CSS -->
    	<link rel="stylesheet" href="../css/waves.css">
    	<!-- Ratings CSS -->
    	<link rel="stylesheet" href="../css/rating.min.css">
  	</head>

  	<body ng-app="waveCal">
	  <nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">Wave Calendar</a>
		</div>


		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav navbar-right">
		    <!-- <li><a href="#"><i class="fa fa-user"></i> Profile</a></li> -->
		    
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>

	  <section id="404">
	  	<br/>
	  	<h1>Page not found</h2>
	  	<br/>
	  	<h3>Try a different URL</h3>
	  </section>

	  <footer style="position:absolute;bottom:0;">
    	<div class="container">
    		<div class="col-md-4">
    			<span class="copyright">Copyright &copy; Jesse Bartola 2016</span>
    		</div>
    		<div class="col-md-4">
    		</div>
    		<div class="col-md-4">
    		</div>
    	</div>
	  </footer>


	    <!-- jQuery -->
		<script src="../js/jquery-1.11.1.js"></script>
	  	<!-- Bootstrap JS -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Waypoints Plugin --> 
		<script src="../js/noframework.waypoints.min.js" type="text/javascript"></script>
		<!-- Sweetalert Plugin --> 
		<script src="../js/sweetalert.min.js" type="text/javascript"></script>
		<!-- Angular JS -->
		<script src="../js/angular.min.js" type="text/javascript"></script>
		<!-- Main Angular JS App -->
		<script src="../app/app.js" type="text/javascript"></script>
		<!-- Profile Controller JS -->
		<script src="../app/controllers/profile.js" type="text/javascript"></script>
		
	</body>
</html>