
<!-- Create A Wave Modal -->
<div id="myModal" class="modal-custom">

  <!-- Modal content -->
  <!-- <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-center">Create A Wave</h2>
    </div>
    <form >
      <div class="modal-body">
        <table id="createParty" class="table">
          <tbody>
            <tr>
              <th scope="row">
                <h4>Title</h4>
              </th>
              <td colspan="">
                <input id="wavename" title="Name your party" class="form-control" type="text">
              </td>
            </tr>
            <tr>
              <th scope="row">
                <h4>Location</h4>
              </th>
              <td colspan="">
                <input id="location-address" class="form-control" placeholder="House address" type="text">
              </td>
              <td colspan="">
                <select id="location-state" class="form-control">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">
                &nbsp;
              </th>
              <td colspan="">
                <input id="location-city" class="form-control" placeholder="City" type="text">
              </td>
              <td colspan="" style="">
                <input id="location-zip" type="text" class="form-control" placeholder="Zip Code">
              </td>
              
            </tr>
            <tr>
              <th scope="row">
                <h4>Time</h4>
              </th>
              <td colspan="">
              </td>
            </tr>
            <tr>
              <th class="oldstyle" scope="row">
                <h4>Invite Status</h4>
              </th>
              <td colspan="" class="oldstyle">
                <label>
                  <input type="radio" class="" name="invite" id="invite" value="true">Invite-Only
                </label>
                
              </td>
              <td colspan="" class="oldstyle">
                <label>
                  <input type="radio" class="" name="invite" id="invite" value="false">Open-Invite
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModal()" style="border:none;" class="btn-larger">Cancel</button>
        </div>
    </form>
  </div> -->











  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-center">Create A Wave</h2>
    </div>
    <form >
      <div class="modal-body">
        <div id="createParty">
          <div class="row-flex">
          </div>
          <tbody>
            <tr>
              <th scope="row">
                <h4>Title</h4>
              </th>
              <td colspan="">
                <input id="wavename" title="Name your party" class="form-control" type="text">
              </td>
            </tr>
            <tr>
              <th scope="row">
                <h4>Location</h4>
              </th>
              <td colspan="">
                <input id="location-address" class="form-control" placeholder="House address" type="text">
              </td>
              <td colspan="">
                <select id="location-state" class="form-control">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">
                &nbsp;
              </th>
              <td colspan="">
                <input id="location-city" class="form-control" placeholder="City" type="text">
              </td>
              <td colspan="" style="">
                <input id="location-zip" type="text" class="form-control" placeholder="Zip Code">
              </td>
              
            </tr>
            <tr>
              <th scope="row">
                <h4>Time</h4>
              </th>
              <td colspan="">
              </td>
            </tr>
            <tr>
              <th class="oldstyle" scope="row">
                <h4>Invite Status</h4>
              </th>
              <td colspan="" class="oldstyle">
                <label>
                  <input type="radio" class="" name="invite" id="invite" value="true">Invite-Only
                </label>
                
              </td>
              <td colspan="" class="oldstyle">
                <label>
                  <input type="radio" class="" name="invite" id="invite" value="false">Open-Invite
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModal()" style="border:none;" class="btn-larger">Cancel</button>
        </div>
    </form>
  </div>

</div>