<div class="heading col-md-6 col-md-offset-3">
  <h1 style="font-size:7rem;">Wave Calendar</h1>
  <div class="col-md-6">
    <form class="signin">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" ng-model="efield" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="passwrd">Password</label>
        <input type="password" ng-model="pfield" class="form-control" id="passwrd" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-norm">Login</button> 
    </form>
  </div>
  <div class="col-md-6">
    <button type="button" ng-click="startRegister()" class="btn btn-larger">Register</button>
  </div>
</div>