<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    	<meta name="description" content="Wave Calendar" />
    	<meta name="author" content="Jesse Bartola" />
    	<!-- <link rel="shortcut icon" href="/img/favicon.ico" /> -->
    	<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    	<title>Wave Calendar</title>

    	<!-- Droid Sans Font -->
    	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"/>
    	<!-- Normalize CSS -->
    	<link rel="stylesheet" href="../css/normalize.css">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="../css/bootstrap.min.css">
    	<!-- FontAwesome CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    	<!-- Animation CSS -->
    	<link rel="stylesheet" href="../css/animate.min.css">
    	<!-- SweetAlert CSS -->
    	<link rel="stylesheet" href="../css/sweetalert.css">
    	<!-- DatePicker CSS -->
    	<link rel="stylesheet" href="../css/bootstrap-datepicker.css">
    	<!-- TimePicker CSS -->
    	<link rel="stylesheet" href="../css/jquery.timepicker.css">
    	<!-- Custom CSS -->
    	<link rel="stylesheet" href="../css/waves.css">
    	<!-- Ratings CSS -->
    	<link rel="stylesheet" href="../css/rating.min.css">
  	</head>

  	<body ng-app="waveCal">
	  <nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">Wave Calendar</a>
		</div>


		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
		    <li><a href="/users/ {{ currentuser.username }}"><i class="fa fa-user"></i> Profile</a></li>
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> Settings <span class="caret"></span></a>
		      <ul class="dropdown-menu">
		        <li><a href="#">Edit Profile</a></li>
		        <li><a href="#">Account</a></li>
		        <li><a href="/logout">Log out</a></li>
		      </ul>
		    </li>
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>

	    <section id="main">
	    	<div class="container">
		    	<div class="row">
			  		<div class="col-md-4 flex-col" id="wavelist" style="height:500px;margin-bottom:50px;" ng-controller="TypeaheadCtrl">
			  			<div class="row">
			  					
    						<typeahead items="items" prompt="Search for tags.." title="data" subtitle="type" model="name" location="distance" on-select="onItemSelected()" on-change="getParties()" chosen="chosen_" />
      							<!-- <input type="text" class="form-control" placeholder="Search by..."> -->
      							
			  				<h2>Upcoming Waves</h2>
			  			</div>
			  			<div class="row" style="overflow-y:auto;">
			  				<wavefilter filters="chosen_" waves="parties" title="title" location="location"/>
			  			</div>
			    	</div>
			    	<div class="col-md-8">
			    		<!--  google maps api -->
			    		<div id="googleMap"></div>
			    	</div>
		  		</div>
	  		</div>
	    </section>

	    <section id="create" ng-controller="WaveRiderCtrl">
	    	<div class="container">
	    		<h1 class="text-center">Ride the Wave</h1>
	    		<br/>
	    		<partycode party="party" on-search="getParty()" code="code" state="view" on-attend="attendParty(wave)" square-one="initialView()" on-create="openModal()" />
	    		
	    	</div>
	    
	  	
		    <div id="modalcreate">
		    	<!-- Create A Wave Modal -->
				<div id="myModal" class="modal-custom">
				  <div class="modal-content">
				    <div class="modal-header">
				      <h2 class="text-center">Create A Wave</h2>
				    </div>
				    <form >
				      <div class="modal-body">
				        <table id="createParty1" class="table">
				          <tbody>
				            <tr>
				              <th scope="row">
				                <h4>Title</h4>
				              </th>
				              <td colspan="3">
				                <input id="wavename" ng-model="party.name" title="Name your party" class="form-control" type="text">
				              </td>
				            </tr>
				            <tr>
				              <th scope="row">
				                <h4>Location</h4>
				              </th>
				              <td colspan="2">
				                <input id="location-address" ng-model="party.address" class="form-control" placeholder="House address" type="text">
				              </td>
				              <td colspan="1" style="width:25%">
				                <!-- WARNING: THIS width:25% KEEPS THE FORM PROPORTIONATE -->
				                <select id="location-state" ng-model="party.state" class="form-control">
				                  <option value="AL">AL</option>
				                  <option value="AK">AK</option>
				                  <option value="AZ">AZ</option>
				                  <option value="AR">AR</option>
				                  <option value="CA">CA</option>
				                  <option value="CO">CO</option>
				                  <option value="CT">CT</option>
				                  <option value="DE">DE</option>
				                  <option value="DC">DC</option>
				                  <option value="FL">FL</option>
				                  <option value="GA">GA</option>
				                  <option value="HI">HI</option>
				                  <option value="ID">ID</option>
				                  <option value="IL">IL</option>
				                  <option value="IN">IN</option>
				                  <option value="IA">IA</option>
				                  <option value="KS">KS</option>
				                  <option value="KY">KY</option>
				                  <option value="LA">LA</option>
				                  <option value="ME">ME</option>
				                  <option value="MD">MD</option>
				                  <option value="MA">MA</option>
				                  <option value="MI">MI</option>
				                  <option value="MN">MN</option>
				                  <option value="MS">MS</option>
				                  <option value="MO">MO</option>
				                  <option value="MT">MT</option>
				                  <option value="NE">NE</option>
				                  <option value="NV">NV</option>
				                  <option value="NH">NH</option>
				                  <option value="NJ">NJ</option>
				                  <option value="NM">NM</option>
				                  <option value="NY">NY</option>
				                  <option value="NC">NC</option>
				                  <option value="ND">ND</option>
				                  <option value="OH">OH</option>
				                  <option value="OK">OK</option>
				                  <option value="OR">OR</option>
				                  <option value="PA">PA</option>
				                  <option value="RI">RI</option>
				                  <option value="SC">SC</option>
				                  <option value="SD">SD</option>
				                  <option value="TN">TN</option>
				                  <option value="TX">TX</option>
				                  <option value="UT">UT</option>
				                  <option value="VT">VT</option>
				                  <option value="VA">VA</option>
				                  <option value="WA">WA</option>
				                  <option value="WV">WV</option>
				                  <option value="WI">WI</option>
				                  <option value="WY">WY</option>
				                </select>
				              </td>
				            </tr>
				            <tr>
				              <th scope="row">
				                &nbsp;
				              </th>
				              <td colspan="2">
				                <input id="location-city" ng-model="party.city" class="form-control" placeholder="City" type="text">
				              </td>
				              <td colspan="" style="">
				                <input id="location-zip" ng-model="party.zip_code" type="text" class="form-control" placeholder="Zip Code">
				              </td>
				              
				            </tr>
				            <tr>
				              <th scope="row">
				                <h4>Time</h4>
				              </th>
				              <div date-pair>
				                  <td>
				                  	<input date-picker check-date="validate()" ng-model="party.date.start" type="text" class="date start form-control " />
				                  	<input time-picker ng-disabled="!party.date.start" check-time="validate()" ng-model="party.time.start" type="text" class="time start form-control" />
				                  </td>
				                  <td colspan="">
				                  	to
				                  </td>
				                  <td colspan="">
					              	<input date-picker ng-disabled="!(party.date.start &amp;&amp; party.time.start)" check-date="validate()" ng-model="party.date.end" type="text" class="date end form-control" />
					                <input time-picker ng-disabled="!party.date.end" check-time="validate()" ng-model="party.time.end" type="text" class="time end form-control" />
					              </td>
				              </div>
				            </tr>
				          </tbody>
				      	</table>
				      	<table id="createParty2" class="table">
				          <tbody>
				            <tr ng-init="party.invite=false" title="Invite-only parties won't show up on the main dashboard!">
				              <th colspan="1" style="border-top: 1px solid #ddd;" scope="row">
				                <h4>Invite Status</h4>
				              </th>
				              <td colspan="2" style="border-top: 1px solid #ddd;">
				                <label>
				                  <input type="radio" ng-model="party.invite" id="invite-only" ng-value="true">Invite-Only
				                </label>
				                
				              </td>
				              <td colspan="1" style="border-top: 1px solid #ddd;">
				                <label>
				                  <input type="radio" ng-model="party.invite" id="invite-open" ng-value="false">Open-Invite
				                </label>
				              </td>
				            </tr>
				            <tr title="{{ checkInvite() }}">
				              <th colspan="1">
				              	<h4>Filters</h4>
				              </th>
				              <td colspan="2">
				              	  <select multiple ng-multiple="true" class="form-control" ng-model="filterAdd" >
				              	  	<option ng-repeat="filter in filters" value="{{ filter.data }}">{{ filter.data }}</option>
				              	  </select>
							  </td>
							  <td colspan="1">
								<ul class="selected-items flex-col flex-wrap">
									<li ng-repeat="f in filterAdd">{{ f }}</li>
								</ul>
							  </td>
				            </tr>
				            <tr>
				              <th colspan="1">
				              	<h4>Ratio</h4>
				              </th>
				              <td colspan="1">
				              	<input ng-init="party.noRatio=true" ng-checked="true" ng-model="noRatio" type="checkbox"> None
				              </td>
				              <!-- WIDTH STYLES ARE VERY IMPORTANT HERE -->
				              <td colspan="1" style="width:30%;">
				              	<label for="ratio-girls">Girls</label>
				              	<input ng-disabled="party.noRatio" ng-model="party.ratio.girls" id="ratio-girls" type="number" class="form-control" min="1" value="1">
				              </td>
				              <!-- WIDTH STYLES ARE VERY IMPORTANT HERE -->
				              <td colspan="1" style="width:30%;">
				              	<label for="ratio-guys">Guys</label>
				              	<input ng-disabled="party.noRatio" ng-model="party.ratio.guys" id="ratio-guys" type="number" class="form-control" min="1" value="1">
				              </td>
				            </tr>
				          </tbody>
				        </table>
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="createWave()" style="border:none;" class="btn-larger">Create</button>
				        <button type="button" ng-click="closeModal()" style="border:none;" class="btn-larger btn-cancel">Cancel</button>
				      </div>
				    </form>
				  </div>
				</div>

		    </div>
		</section>

	    <footer>
	    	<div class="container">
	    		<div class="col-md-4">
	    			<span class="copyright">Copyright &copy; Jesse Bartola 2016</span>
	    		</div>
	    		<div class="col-md-4">
	    		</div>
	    		<div class="col-md-4">
	    		</div>
	    	</div>
	    </footer>

  		<!-- jQuery -->
  		<script src="../js/jquery-1.11.1.js"></script>
  		<!-- Google Maps -->
  		<!-- Google Maps Initializer -->
  		<script src="../js/googlemap.js" type="text/javascript"></script>
  		<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBbSB586nZ-BZAaKIHnzSuEyB8Zpi_Y0WE&callback=initialize"></script>
  		<!-- Bootstrap JS -->
  		<script src="../js/bootstrap.min.js"></script>
  		<!-- Ratings JS -->
  		<script src="../js/rating.min.js"></script>
  		<!-- DatePicker Plugin -->
  		<script src="../js/bootstrap-datepicker.js"></script>
  		<!-- TimePicker Plugin -->
  		<script src="../js/jquery.timepicker.min.js"></script>
  		<!-- DatePair Plugin -->
  		<script src="../js/datepair.min.js"></script>
  		<script src="../js/jquery.datepair.min.js"></script>
  		<!-- Waypoints Plugin --> 
  		<script src="../js/noframework.waypoints.min.js" type="text/javascript"></script>
  		<!-- Sweetalert Plugin --> 
  		<script src="../js/sweetalert.min.js" type="text/javascript"></script>
  		<!-- Angular JS -->
  		<script src="../js/angular.min.js" type="text/javascript"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>
  		<!-- Main Angular JS App -->
		<script src="../app/app.js" type="text/javascript"></script>
		<!-- Main Controller jS -->
		<!-- <script src="../app/controllers/main.js" type="text/javascript"></script> -->
		<script src="../app/controllers/typeahead.js" type="text/javascript"></script>
		<script src="../app/controllers/waverider.js" type="text/javascript"></script>
  		
  	</body>

  	
</html>