<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    	<meta name="description" content="Wave Calendar" />
    	<meta name="author" content="Jesse Bartola" />
    	<!-- <link rel="shortcut icon" href="/img/favicon.ico" /> -->
    	<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    	<title>Wave Calendar</title>

    	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"/>
    	<!-- Normalize CSS -->
    	<link rel="stylesheet" href="../css/normalize.css">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="../css/bootstrap.min.css">
    	<!-- FontAwesome CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    	<!-- Animation CSS -->
    	<link rel="stylesheet" href="../css/animate.min.css">
    	<!-- SweetAlert CSS -->
    	<link rel="stylesheet" href="../css/sweetalert.css">
    	<!-- DatePicker CSS -->
    	<link rel="stylesheet" href="../css/bootstrap-datepicker.css">
    	<!-- TimePicker CSS -->
    	<link rel="stylesheet" href="../css/jquery.timepicker.css">
    	<!-- Slick Carousel CSS -->
    	<link rel="stylesheet" href="../css/slick.css">
    	<link rel="stylesheet" href="../css/slick-theme.css">
    	<!-- Ratings CSS -->
    	<link rel="stylesheet" href="../css/rating.min.css">
    	<!-- Custom CSS -->
    	<link rel="stylesheet" href="../css/waves.css">
  	</head>

  	<body ng-app="waveCal" ng-controller="ProfileCtrl" ng-cloak>
	  <nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">Wave Calendar</a>
		</div>


		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav navbar-right">
		    <li ng-cloak ng-show="!admin"><a href="/users/{{  currentuser.username }}"><i class="fa fa-user"></i> Profile</a></li>
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> Settings <span class="caret"></span></a>
		      <ul class="dropdown-menu">
		        <li><a href="#">Edit Profile</a></li>
		        <li><a ng-click="openSettings()" href="#">Account</a></li>
		        <li><a href="/logout">Log out</a></li>
		      </ul>
		    </li>
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>

	  <section id="profile">
	  	<div class="container">
		  	<div class="col-md-4 profile-col">
		  		<div class="prof-header">
		  			<div class="prof-name">
		  				<h2 class="text-center" style="margin-top:0px;">{{ user.username }}</h2>
		  			</div>
		  			<div class="prof-pic">
		  				<img src="../img/WaveIcon.png" height="256" width="256">
		  			</div>
	  			</div>
	  			<div class="prof-col-body">
	  				<table class="table">
	  					<tbody>
	  						<tr class="noldstyle">
	  							<th width="140px;">
	  								<p>Date Joined: </p>
	  							</th>
	  							<td>
	  								<p style="text-align:center;">{{ user.join_date }}</p>
	  							</td>
	  						</tr>
	  						<tr class="oldstyle">
	  							<th>
	  								<p>Waves Created: </p>
	  							</th>
	  							<td>
	  								<p style="text-align:center;">{{ user.num_parties }}</p>
	  							</td>
	  						</tr>
	  						<tr class="oldstyle">
	  							<th>
	  								<p>Waves Attended: </p>
	  							</th>
	  							<td>
	  								<p style="text-align:center;">{{ user.attending.length }}</p>
	  							</td>
	  						</tr>
	  					</tbody>
	  				</table>
	  			</div>
		  	</div>
		  	<div class="col-md-8 prof-body">
		  		<div class="row text-center prof-recents">
		  			<h3>Recently Attended</h3>
		  		</div>
		  		<div slicker ng-model="slick.attending" class="prof-carousel flex-adjust flex-sp-ar" ng-class="{'def-carousel': user.attending.length == 0 }">
		  			<div ng-repeat="wave in user.attending" class="wavelisting text-center">
		  				<h4 style="font-weight:600;">{{ wave.title }}</h4>
		  				<img src="../img/WaveIcon.png" ng-hide="wave.status != 'planned'" class="prof-wavelisting" height="96" width="96">
		  				<img src="../img/party_hat.png" ng-hide="wave.status != 'ongoing'" class="prof-wavelisting" height="96" width="96">
		  				<img src="../img/SleepIcon.png" ng-hide="wave.status != 'over'" class="prof-wavelisting" height="96" width="96">
		  			</div>
		  		</div> <!-- End Slicker -->
		  		<div class="row text-center prof-recents">
		  			<h3>{{ user.username }}'s Waves</h3>
		  		</div>
		  		<div id="ownerwaves">

		  			<!-- Put ng-repeat for List of User-Owned Parties -->
		  			<div ng-repeat="party in user.owned" class="prof-ownerwave flex-row">
		  				<div class="prof-sidewave text-center">
		  					<h4 style="font-weight:600;">{{ party.title }}</h4>
		  					<img src="../img/WaveIcon.png" ng-hide="party.status != 'planned'" height="112" width="112">
		  					<img src="../img/party_hat.png" ng-hide="party.status != 'ongoing'" height="112" width="112">
		  					<img src="../img/SleepIcon.png" ng-hide="party.status != 'over'" height="112" width="112">
		  					<ul rater rate="{{ party.rating }}" ng-class="{'rating-disabled': currentUser.attending.indexOf(party.reg_code) < 0}" cur-party="{{ party.reg_code }}" id="{{ party.reg_code }}-rate" class="rating" style="padding:0px;">
		  					</ul>
		  				</div>
		  				<div class="prof-wave-desc">
		  					<!-- Have the option to put conditional logic here
		  					If wave already occurred, disallow rating -->
		  					<div>
		  						<h4>Location</h4>
		  						<h5>{{ party.location.street }}</h5>
		  						<h5>{{ party.location.city }}, {{ party.location.zip_code }}</h5>
		  						<br/>
		  						<h4>Time</h4>
		  						<h5>{{ readableDate(party.time.start) }}</h5>
		  						<h5>{{ readableDate(party.time.end) }}</h5>
		  					</div>
		  				</div>
		  				<div class="prof-wave-desc">
		  					<div>
		  						<h4>{{ party.attending }} Attendees</h5>
		  						<br/>
		  						<h4>Ratio</h5>
		  						<h5 ng-hide="party.ratio.guys == 0">{{ party.ratio.guys }} guys to {{ party.ratio.girls }} girls</h4>
		  						<h5 ng-hide="party.ratio.guys != 0">None</h4>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
	  	</div>
	  </section>

	  <div id="settingsModal" ng-style="settingsModal" class="modal-custom">
		<div class="modal-content">
		  <div class="modal-header">
		    <h2 class="text-center">{{ currentUser.username }}'s Account Settings</h2>
		  </div>
		  <div class="modal-body">
		  	<div class="manage-header">
		  		<h3 class="pull-left" style="margin-bottom:30px;">Manage Waves</h3>
		  		<div style="padding-top:20px;text-align:right;">
		  			<a href  ng-click="showEditing()"><i class="fa fa-pencil fa-2 pencil" ng-class="{'pencil-edit': edit }" style="font-size: 20px;" aria-hidden="true"></i></a>
		  		</div>
		  		
		  	</div>
		  	
		  	<div id="slick-settings" slicker-none ng-model="slick.settings" class="prof-carousel flex-adjust flex-sp-ar" ng-class="{'def-carousel': currentUser.waves.length == 0 }">
		  		<div ng-repeat="wave in currentUser.waves" ng-click="editWave(wave)" class="wavelisting text-center owner-wave">
	  				<h4 style="font-weight:600;">{{ wave.title }}</h4>
	  				<img src="../img/WaveIcon.png" ng-hide="wave.status != 'planned'" class="prof-wavelisting" height="96" width="96">
	  				<img src="../img/party_hat.png" ng-hide="wave.status != 'ongoing'" class="prof-wavelisting" height="96" width="96">
	  				<img src="../img/SleepIcon.png" ng-hide="wave.status != 'over'" class="prof-wavelisting" height="96" width="96">
	  			</div>
		  	</div> <!-- End Slicker -->

		  	<div class="form-adjust" ng-show="edit==false">
		  		<table class="table">
		  			<tbody>
		  				<tr>
		  					<th>
		  						<h3>Location</h3>
		  					</th>
		  					<td colspan="">
		  						<input type="text" ng-model="currentUser.new.location.city" ng-class="{'valid-change': formChange('city') }" class="form-control">
		  					</td>
		  					<td>
		  						<select ng-model="currentUser.new.location.state" class="form-control" ng-class="{'valid-change': formChange('state') }">
				                  <option value="AL">AL</option>
				                  <option value="AK">AK</option>
				                  <option value="AZ">AZ</option>
				                  <option value="AR">AR</option>
				                  <option value="CA">CA</option>
				                  <option value="CO">CO</option>
				                  <option value="CT">CT</option>
				                  <option value="DE">DE</option>
				                  <option value="DC">DC</option>
				                  <option value="FL">FL</option>
				                  <option value="GA">GA</option>
				                  <option value="HI">HI</option>
				                  <option value="ID">ID</option>
				                  <option value="IL">IL</option>
				                  <option value="IN">IN</option>
				                  <option value="IA">IA</option>
				                  <option value="KS">KS</option>
				                  <option value="KY">KY</option>
				                  <option value="LA">LA</option>
				                  <option value="ME">ME</option>
				                  <option value="MD">MD</option>
				                  <option value="MA">MA</option>
				                  <option value="MI">MI</option>
				                  <option value="MN">MN</option>
				                  <option value="MS">MS</option>
				                  <option value="MO">MO</option>
				                  <option value="MT">MT</option>
				                  <option value="NE">NE</option>
				                  <option value="NV">NV</option>
				                  <option value="NH">NH</option>
				                  <option value="NJ">NJ</option>
				                  <option value="NM">NM</option>
				                  <option value="NY">NY</option>
				                  <option value="NC">NC</option>
				                  <option value="ND">ND</option>
				                  <option value="OH">OH</option>
				                  <option value="OK">OK</option>
				                  <option value="OR">OR</option>
				                  <option value="PA">PA</option>
				                  <option value="RI">RI</option>
				                  <option value="SC">SC</option>
				                  <option value="SD">SD</option>
				                  <option value="TN">TN</option>
				                  <option value="TX">TX</option>
				                  <option value="UT">UT</option>
				                  <option value="VT">VT</option>
				                  <option value="VA">VA</option>
				                  <option value="WA">WA</option>
				                  <option value="WV">WV</option>
				                  <option value="WI">WI</option>
				                  <option value="WY">WY</option>
				                </select>
		  					</td>
		  				</tr>
		  				<tr>
		  					<th>
		  						<h3>Credentials</h3>
		  					</th>
		  					<td>
		  						<input type="text" class="form-control" ng-model="currentUser.new.username" ng-change="checkField('username', currentUser.new.username)" placeholder="Username" ng-class="{ 'valid-err': credChanged.username==true || currentUser.new.username === '', 'valid-change': formChange('username') }">
		  						<span ng-show="credChanged.username==true" style="color:red;padding-top:3px;">Username taken</span>
		  					</td>
		  					<td>
		  						<input type="email" class="form-control" placeholder="Email Address" ng-change="checkField('email', currentUser.new.email)" ng-model="currentUser.new.email" ng-class="{ 'valid-err': credChanged.email==true || currentUser.new.email === '', 'valid-change': formChange('email') }">
		  						<span ng-show="credChanged.email==true" style="color:red;">Email taken</span>
		  					</td>
		  				</tr>
		  				<tr>
		  					<th>
		  						<h3>Password</h3>
		  					</th>
		  					<td>
		  						<input type="password" placeholder="New Password" class="form-control" ng-class="{'valid-change': currentUser.new.password_orig &amp;&amp; currentUser.new.password_orig != '' }" ng-model="currentUser.new.password_orig">
		  					</td>
		  					<td>
		  						<input type="password" placeholder="Confirm Password" class="form-control" ng-class="{'valid-change': currentUser.new.password_confirm &amp;&amp; currentUser.new.password_confirm != '' }" ng-model="currentUser.new.password_confirm">
		  					</td>
		  				</tr>


		  			</tbody>
		  		</table>
		  	</div>
		  	<div class="wave-edit" ng-hide="edit==false">
		  		<table class="table">
		  		  <tbody>
		            <tr>
		              <th scope="row">
		                <h4>Title</h4>
		              </th>
		              <td colspan="2">
		                <input ng-class="{'valid-change': checkWaveEdit('title') }" ng-disabled="!partyExists()" ng-model="newParty.title" title="Party Title" class="form-control" type="text">
		              </td>
		              <td>
		              	<a href ng-click="scrapWave(party)"><i class="fa fa-trash fa-2 trash-wave" style="font-size: 20px;" aria-hidden="true"></i></a>
		              </td>
		            </tr>
		          </tbody>
		      	</table>
		      	<table class="table">
		          <tbody>
		            <tr ng-init="party.invite=false" title="Invite-only parties won't show up on the main dashboard!">
		              <th colspan="1" style="border-top: 1px solid #ddd;" scope="row">
		                <h4>Invite Status</h4>
		              </th>
		              <td colspan="2" style="border-top: 1px solid #ddd;">
		                <label>
		                  <input ng-class="{'valid-change': checkWaveEdit('invite_only') }" ng-disabled="!partyExists()" type="radio" ng-model="newParty.invite_only" id="invite-only" ng-value="true">Invite-Only
		                </label>
		                
		              </td>
		              <td colspan="1" style="border-top: 1px solid #ddd;">
		                <label>
		                  <input ng-class="{'valid-change': checkWaveEdit('invite_only') }" ng-disabled="!partyExists()" type="radio" ng-model="newParty.invite_only" id="invite-open" ng-value="false">Open-Invite
		                </label>
		              </td>
		            </tr>
		            <tr title="{{ checkInvite() }}">
		              <th colspan="1">
		              	<h4>Filters</h4>
		              </th>
		              <td colspan="2">
		              	  <select ng-disabled="!partyExists()" multiple ng-multiple="true" class="form-control" ng-model="newParty.filters" ng-class="{'valid-change': checkWaveEdit('filters') }">
		              	  	<option ng-repeat="filter in filters" value="{{ filter.data }}">{{ filter.data }}</option>
		              	  </select>
					  </td>
					  <td colspan="1">
						<ul style="height:75px;overflow-y:scroll;" ng-class="{'valid-change': checkWaveEdit('filters') }"class="selected-items flex-col">
							<li style="padding:0px" ng-repeat="f in newParty.filters">{{ f }}</li>
						</ul>
					  </td>
		            </tr>
		            <tr>
		              <th colspan="1">
		              	<h4>Ratio</h4>
		              </th>
		              <td colspan="1">
		              	<input ng-disabled="!partyExists()" ng-init="party.noRatio=true" ng-checked="newParty.ratio.girls == 0 &amp;&amp; newParty.ratio.guys == 0" ng-class="{'valid-change': checkWaveEdit('ratio') }" ng-model="newParty.noRatio" type="checkbox"> None
		              </td>
		              <!-- WIDTH STYLES ARE VERY IMPORTANT HERE -->
		              <td colspan="1" style="width:30%;">
		              	<label for="ratio-girls">Girls</label>
		              	<input ng-disabled="!partyExists() || newParty.noRatio" ng-model="newParty.ratio.girls" ng-class="{'valid-change': checkWaveEdit('ratio') }" id="ratio-girls" type="number" class="form-control" min="1" value="1">
		              </td>
		              <!-- WIDTH STYLES ARE VERY IMPORTANT HERE -->
		              <td colspan="1" style="width:30%;">
		              	<label for="ratio-guys">Guys</label>
		              	<input ng-disabled="!partyExists() || newParty.noRatio" ng-model="newParty.ratio.guys" ng-class="{'valid-change': checkWaveEdit('ratio') }" id="ratio-guys" type="number" class="form-control" min="1" value="1">
		              </td>
		            </tr>
		          </tbody>
		  		</table>
		  	</div>
		  </div>
		  <div class="modal-footer">
		  	<button type="button" ng-disabled="checkChanges('profile') &amp;&amp; checkChanges('waves')" style="border:none;" ng-click="confirmChanges(checkChanges('profile'))" class="btn-larger">Save</button>
		  	<button type="button" style="border:none;" ng-click="closeSettings()" class="btn-larger btn-cancel">Cancel</button>
		  </div>
		</div>
	  </div>

	  <footer style="/*position:absolute;bottom:0;*/">
    	<div class="container">
    		<div class="col-md-4">
    			<span class="copyright">Copyright &copy; Jesse Bartola 2017</span>
    		</div>
    		<div class="col-md-4">
    		</div>
    		<div class="col-md-4">
    		</div>
    	</div>
	  </footer>


	    <!-- jQuery -->
		<script src="../js/jquery-1.11.1.js"></script>
	  	<!-- Bootstrap JS -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Waypoints Plugin --> 
		<script src="../js/noframework.waypoints.min.js" type="text/javascript"></script>
		<!-- Ratings JS -->
  		<script src="../js/rating.min.js"></script>
		<!-- Sweetalert Plugin --> 
		<script src="../js/sweetalert.min.js" type="text/javascript"></script>
		<!-- Slick Carousel Plugin --> 
		<script src="../js/slick.min.js" type="text/javascript"></script>
		<!-- Angular JS -->
		<script src="../js/angular.min.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
		<!-- Main Angular JS App -->
		<script src="../app/app.js" type="text/javascript"></script>
		<!-- Profile Controller JS -->
		<script src="../app/controllers/profile.js" type="text/javascript"></script>
		
	</body>
</html>