<div class="input-group">
<input type="text" id="tagbox" class="form-control" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false" />
<span class="input-group-btn">
  <button class="btn btn-norm" id="cleartags" ng-click="clearTags()" type="button">Clear</button>
</span>
</div>
<br/>



<div class="items" ng-hide="!model.length || selected">
  <div class="item" ng-repeat="item in items | limitTo: 4 | filter:model track by $index" ng-click="handleSelection(item[title])" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
    <p class="title" type="{{ item[subtitle] }}">{{item[title]}}</p>
  </div>
  
</div>



<ul class="selected-items">
	<li ng-repeat="chose in chosen track by $index">{{ chose }}  <button type="button" class="closed" data-dismiss="alert" aria-label="Close"><span ng-click="removeItem($index)" aria-hidden="true">&times;</span></button></li>
</ul>


<div class="distance">
	<div class="dropdown">
	  <a href="#" class="btn btn-default dropdown-toggle" type="button" id="loc-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Within..
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu" aria-labelledby="loc-dropdown">
	    <li><a ng-click="setText('Within 1 mile', 1609)" href="">Within 1 mile</a></li>
	    <li><a ng-click="setText('Within 5 miles', 8047)" href="">Within 5 miles</a></li>
	    <li><a ng-click="setText('Within 10 miles', 16093)" href="">Within 10 miles</a></li>
	    <li><a ng-click="setText('Within my city', 0)" href="">Within my city</a></li>
	  </ul>
	</div>
</div>

<br/>