<div class="wave" ng-repeat="wave in waves track by $index">
	<div class="media">
	  <div class="media-left media-middle">
	    <a href="#" ng-click="centerMap(waves[$index])">
	      <img class="media-object" src="../img/waveicon.png" style="height:64px;width:64px;" alt="">
	    </a>
	    <!--
		  <span>☆</span>
	      <span>☆</span>
		  <span>☆</span>
		  <span>☆</span>
		  <span>☆</span>
		</div> -->
		<ul onload="createRating({{ wave.reg_code }})" id="{{ wave.reg_code }}" class="rating">
			<!-- <li class="c-rating__item" data-index="0"></li>
			<li class="c-rating__item" data-index="1"></li>
			<li class="c-rating__item" data-index="2"></li>
			<li class="c-rating__item" data-index="3"></li>
			<li class="c-rating__item" data-index="4"></li> -->
		</ul>
		
    	
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{ wave[title] }}</h4>
	    <ul>
	    	<li>Where: {{ wave[location][street] }}</li>
	    	<li>{{ wave[location].city }}, {{ wave[location][zipCode] }}</li>
	    	<li></li>
	    </ul>
	  </div>
	</div>
	<br/>
</div>