<div class="wave" ng-repeat="wave in waves track by $index">
	<div class="media" ng-click="centerMap(waves[$index])">
	  <div class="media-left media-middle">
	    <a href="#">
	      <img class="media-object" src="../img/waveicon.png" style="height:64px;width:64px;" alt="">
	    </a>
	    <img class="rating" src="../img/rating_star.png" style="height:8px;width:8px;" alt="" data-party="{{ wave.reg_code }}-1">
	    <img class="rating" src="../img/rating_star.png" style="height:8px;width:8px;" alt="" data-party="{{ wave.reg_code }}-2">
	    <img class="rating" src="../img/rating_star.png" style="height:8px;width:8px;" alt="" data-party="{{ wave.reg_code }}-3">
	    <img class="rating" src="../img/rating_star.png" style="height:8px;width:8px;" alt="" data-party="{{ wave.reg_code }}-4">
	    <img class="rating" src="../img/rating_star.png" style="height:8px;width:8px;" alt="" data-party="{{ wave.reg_code }}-5">
    	
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{ wave[title] }}</h4>
	    <ul>
	    	<li>Where: {{ wave[location][street] }}</li>
	    	<li>{{ wave[location].city }}, {{ wave[location][zipCode] }}</li>
	    	<li></li>
	    </ul>
	  </div>
	</div>
	<br/>
</div>